/* OsimoDebug Styles */
#OsimoDebug{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 300px;
	overflow-y: auto;
	background-color: #333333;
	border-top: 2px #222222 solid;
    padding: 0;
    display: none;
}

#OsimoDebug h1{
    color: #f2f2f2;
    font-family: Georgia, serif;
    padding: 0;
    margin: 5px 10px 0 10px;
    border-bottom: 1px #d2d2d2 solid;
    text-shadow: 1px 1px 2px #000;
    font-size: 20px;
}

#OsimoDebug h2{
    color: #f2f2f2;
    margin: 5px 0 0 20px;
    padding: 0;
    font-size: 18px;
}

#OsimoDebug ul{
    list-style: none;
    margin: 0 30px 0 30px;
    padding: 0;
    font-size: 14px;
}

#OsimoDebug li{
	font-family: Helvetica Neue, Helvetica, Verdana, sans-serif;
	color: #e8e8e8;
    border-bottom: 1px transparent solid;
    padding: 3px 0 3px 0;
}

#OsimoDebug li:hover{
    border-bottom: 1px #777777 solid;
    background-color: #444444;
}

#OsimoDebug pre{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

#OsimoDebugTab{
	position: fixed;
	bottom: 0px;
	right: 10px;
	background-color: #222222;
	color: #f2f2f2;
	font-family: Helvetica Neue, Helvetica, Verdana, sans-serif;
	padding: 3px 5px 0 5px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    cursor: pointer;
}

/* OsimoModal Styles */
#OsimoModalBk{
	background-color: #000000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.4;
	z-index: 998;
}

#OsimoModalWrap{
	position: fixed;
	z-index: 999;
	background-color: #f8f8f8;
    -moz-box-shadow: 0 0 20px #222222;
    -webkit-box-shadow: 0 0 20px #222222;
    box-shadow: 0 0 20px #222222;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

#OsimoModalHeader{
    height: 30px;
    background-color: #1D3652;
    margin: 2px;
    padding: 5px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

#OsimoModalTitle{
    color: #f2f2f2;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 20px;
    padding-top: 2px;
    float: left;
}

#OsimoModalClose{
	width: 16px;
	height: 16px;
	background-image: url(../img/cross.png);
    float: right;
    margin: 6px;
    cursor: pointer;
}

#OsimoModalContent{
    margin: 10px 5px 5px 5px;
    color: #444444;
}

.OsimoModalInput{
    font-size: 13px;
    margin: 5px;
    color: #444444;
}

.OsimoModalInputTable{
    margin: 0 0 5px 0;
    width: 100%;
}

.OsimoModalInputTable input{
	width: 100%;
    padding: 5px;
    border: 1px #b2b2b2 solid;
    color: #444444;
    font-size: 16px;
    background-image: -moz-linear-gradient(top, #f8f8f8, #ebebeb); /* FF3.6 */
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #ebebeb),color-stop(1, #f8f8f8)); /* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#ebebeb'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#ebebeb')"; /* IE8 */
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3+, Chrome */
    border-radius: 5px; /* Opera 10.5, IE 9 */
}

.OsimoModalInputTable input:focus,.OsimoModalInputTable input:hover{
	background-image: -moz-linear-gradient(top, #fbfbfb, #f2f2f2); /* FF3.6 */
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #f2f2f2),color-stop(1, #fbfbfb)); /* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#f2f2f2'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#f2f2f2')"; /* IE8 */
}

#OsimoCreateThreadActions{
    text-align: center;
    margin-top: 5px;
}

#OsimoCreateThreadActions input{
    border: none;
    color: #f2f2f2;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px 0 5px;
    background-image: -moz-linear-gradient(top, #243F5C, #10263F); /* FF3.6 */
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #10263F),color-stop(1, #243F5C)); /* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#243F5C', endColorstr='#10263F'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#243F5C', endColorstr='#10263F')"; /* IE8 */
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3+, Chrome */
    border-radius: 5px; /* Opera 10.5, IE 9 */
}

#OsimoCreateThreadActions input:hover{
    background-image: -moz-linear-gradient(top, #3F5E7F, #23405F); /* FF3.6 */
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #23405F),color-stop(1, #3F5E7F)); /* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F5E7F', endColorstr='#23405F'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F5E7F', endColorstr='#23405F')"; /* IE8 */
}

.OsimoErrorElement{
	background-image: url(../img/OsimoErrorElement.png) !important;
	background-repeat: repeat !important;
	background-color: #BF2323 !important;
	color: #f2f2f2 !important;
}