body{
    margin: 0; padding: 0;
    background-color: #f6f6f6;
    font-family: arial, Helvetica Neue, Helvetica, Verdana, sans-serif;
}

#header_wrap{
	padding-top: 15px;
    padding-bottom: 15px;
	width: 100%;
    border-bottom: 4px #3F956B solid;
    background-color: #193353;
}

#header{
    width: 90%;
    margin: 0 auto;
    padding: 0 5px 1px 5px;
}

#header h1{
    color: #f8f8f8;
    font-family: Helvetica Neue, Helvetica, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 32px;
}

#header h2{
    color: #e8e8e8;
    margin: -10px 0 0 5px;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Verdana, sans-serif;
    font-size: 18px;
}

#navbar{
    width: 100%;
    margin: 0px auto;
    background-color: #162941;
}

#navbar ul{
    width: 90%;
    list-style: none;
    padding: 0;
    margin: 0px auto 0 auto;
    height: 30px;
}

#navbar li{
    display: inline-block;
    margin: 0 2px 0 0;
    padding: 6px 5px 0 5px;
    font-size: 14px;
    color: #f2f2f2;
    height: 28px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    text-shadow: 1px 1px 2px #000000;
}

#navbar a{
    text-decoration: none;
    color: #c4c4c4;
}

#navbar li:hover{
	background-color: #3F956B;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(#3F956B), to(#77BF95));        
}

#navbar li:hover > a{ color: #f2f2f2 !important; }

#content{
    width: 90%;
    margin: 15px auto;
    padding: 0;
}

#breadcrumb_trail{
    padding: 5px;
    margin-bottom: 5px;
    color: #777777;
}

#breadcrumb_trail a{
    color: #1D3652;
    text-decoration: none;
}

#breadcrumb_trail a:hover{
    text-decoration: underline;
}

.category_title{
    width: 100%;
    padding: 5px 0 5px 0;
    margin: 0;
    background-color: #1D3652;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.category_title > h1{
    font-size: 16px;
    color: #f2f2f2;
    margin: 0 0 0 10px;
    font-weight: normal;
}

.forum_list,.thread_list{
    width: 100%;
    overflow: hidden;
    margin: 0 0 15px 0;
    border-collapse: collapse;
    border-bottom: 3px #D5DDE5 solid;
}

.forum_list_head,.thread_list_head{
    background-color: #B6C7DB;
}

.forum_list_head>td,.thread_list_head>td{
    font-size: 13px !important;
    font-weight: bold;
    color: #1D3652 !important;
    margin: 0 !important;
    padding: 5px 0 5px 0 !important;
    font-family: arial,verdana,tahoma,sans-serif;
}

.forum_list_head>.forum_list_desc,.thread_list_head>.thread_list_desc{
    padding-left: 10px !important;
}

.forum_list_head>.forum_list_stats,.thread_list_head>.thread_list_stats{ padding-right: 5px !important; }
.forum_list_head>.forum_list_info,.thread_list_head>.thread_list_info{ padding-left: 5px !important; }


.forum_list_item{
    background-color: #FAFBFC;
}

.forum_list_item>td{
    padding-top: 8px;
    padding-bottom: 8px;
}

.alt_forum{
    background-color: #F1F4F7 !important;
}

.forum_list_desc{
    padding-left: 10px;
    width: 60%;
}

.thread_list_desc{
	width: 50%;
	padding-left: 10px;
}

.forum_list_desc h1,.thread_list_desc h1{
    font-size: 16px;
    font-weight: normal;
    color: #1D3652;
    font-family: arial,verdana,tahoma,sans-serif;
    margin: 0;
}

.forum_list_desc h1>a,.thread_list_desc h1>a{
	color: #1D3652;
	text-decoration: none;
}

.forum_list_desc h1>a:hover,.thread_list_desc h1>a:hover{
	text-decoration: underline;
}

.forum_list_desc p,.thread_list_desc p{
    margin: 0 0 0 1px;
    font-size: 14px;
    color: #555555;
    font-style: italic;
}

.thread_list_started_by{
	width: 10%;
	color: #1D3652;
    font-size: 14px;
}

.thread_list_started_by a{
    	color: #1D3652;
    text-decoration: none;
}

.thread_list_started_by a:hover{
    text-decoration: underline;
}

.forum_list_stats,.thread_list_stats{
    width: 10%;
    font-size: 13px;
    text-align: right;
    padding-right: 5px;
    color: #444444;
}

.forum_list_info,.thread_list_info{
    width: 30%;
    color: #284B72;
    font-size: 13px;
    padding-left: 5px;
}

.forum_list_info a,.thread_list_info a{
    color: #284B72;
}

#thread_info{
    overflow: hidden;
    width: 100%;
}

.post_page_list{
    margin: 15px 0 5px 5px;
    font-size: 13px;
    float: left;
}

.thread_actions{
    float: right;
    margin: 0 5px 5px 0;
}

.fancy_button{
    background-color: #1D3652;
    padding: 10px;
    color: #f2f2f2;
    font-size: 13px;
    cursor: pointer;
    background-image: -moz-linear-gradient(top, #243F5C, #10263F); /* FF3.6 */
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #10263F),color-stop(1, #243F5C)); /* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#243F5C', endColorstr='#10263F'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#243F5C', endColorstr='#10263F')"; /* IE8 */
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3+, Chrome */
    border-radius: 5px; /* Opera 10.5, IE 9 */
}

.fancy_button:hover{
    background-image: -moz-linear-gradient(top, #3F5E7F, #23405F); /* FF3.6 */
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #23405F),color-stop(1, #3F5E7F)); /* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F5E7F', endColorstr='#23405F'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F5E7F', endColorstr='#23405F')"; /* IE8 */
}

.fancy_button img{ vertical-align: text-bottom;}

.fancy_button_disabled{
    background-color: #d2d2d2;
    padding: 10px;
    color: #555555;
    font-size: 13px;
    border: 1px #b2b2b2 solid;
    background-image: -moz-linear-gradient(top, #e2e2e2, #c8c8c8); /* FF3.6 */
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #c8c8c8),color-stop(1, #e2e2e2)); /* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#c8c8c8'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#c8c8c8')"; /* IE8 */
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3+, Chrome */
    border-radius: 5px; /* Opera 10.5, IE 9 */
}

.OsimoPagination{
    border: 1px #b2b2b2 solid;
    padding: 1px 3px 1px 3px;
    color: #1D3652;
    cursor: pointer;
}

.OsimoPaginationActivePage{
    background-color: #1D3652 !important;
    color: #f2f2f2 !important;
}

.thread_post_wrap{
    overflow: hidden;
}

.thread_post{
    background-color: #FAFBFC;
    overflow: hidden;
}

.thread_title{
    width: 100%;
    padding: 5px 0 5px 0;
    margin: 0;
    background-color: #1D3652;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.thread_title > h1{
    font-size: 16px;
    color: #f2f2f2;
    margin: 0 0 0 10px;
    font-weight: normal;
    display: inline;
}

.thread_title > h2{
    display: inline;
    padding: 0;
    margin: 0 0 0 2px;
    font-size: 12px;
    color: #B6C7DB;
}

.thread_post_header{
    width: 100%;
    background-color: #D5DEE5;
    overflow: hidden;
}

.thread_post_header > p{
    margin: 0;
    padding: 6px 10px 6px 10px;
    font-size: 14px;
}

.thread_post_header img{
    vertical-align: text-bottom;
    margin-right: 2px;
}

.thread_post_header a{
    color: #1D3652;
    text-decoration: none;
    font-weight: bold;
}

.thread_post_content_wrap{
    padding-left: 250px;
}

.thread_post_content{
    padding: 10px;
    font-size: 13px;
    color: #1C2837;
    line-height: 150%;
}

.thread_post_info{
    float: left;
    width: 236px;
    padding: 0 0 10px 10px;
    margin-top: 10px;
    border-right: 1px #d2d2d2 solid;
}

.thread_post_footer{
    background-color: #E4EBF3;
    height: 28px;
    border-bottom: 6px #B5C0CF solid;
}

.thread_post_avatar{
    text-align: center;
}

.thread_user_info{
    list-style: none;
    margin: 5px auto 0 auto;
    padding: 0;
    width: 210px;
    font-size: 12px;
}

.tui_l{
    width: 100px;
    text-align: right;
    font-weight: bold;
    color: #1D3652;
    display: block;
    float: left;
}


.tui_r{
    width: 100px;
    text-align: left;
    color: #777777;
    display: block;
    float: left;
    padding-left: 5px;
}

.post_author{
    float: left;
}

.post_time{
    float: right;
    font-size: 12px !important;
    margin-top: 2px !important;
    color: #555555;
}

#postbox_wrap{
	margin-top: 10px;
}

#login_wrap{
    width: 600px;
    margin: 20px auto;
}

#login_title{
    width: 100%;
    padding: 5px 0 5px 0;
    margin: 0;
    background-color: #1D3652;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}


#login_title > h1{
    font-size: 16px;
    color: #f2f2f2;
    margin: 0 0 0 10px;
    font-weight: normal;
}

#login_desc {
    background-color: #B6C7DB;
}

#login_desc > h2{
    padding: 6px 0 6px 10px;
    margin: 0 0 0 0px;
    font-size: 12px;
    color: #3F5E7F;
}

#login_form{
    text-align: center;
    background-color: #ffffff;
    padding-top: 10px;
}

#login_form > input{
    margin-bottom: 15px;
    font-size: 30px;
    width: 400px;
    color: #444444;
    border: 1px #a49f95 solid;
    padding: 5px;
    font-family: Arial, Helvetica Neue, Helvetica, Verdana, sans-serif;
}

#login_form input:focus {
    border: 1px #333333 solid;
    color: #1D3562;                        
}

.login_label{
    width: 400px;
    margin: 0 auto 0 auto;
    text-align: left !important;
    color: #3F5E7F;
}

.login_label > img {
    vertical-align: text-top !important;
}

#login_form_submit {
    background-color: #D5DDE5;
    padding: 10px;
}

#login_form_submit input {
    background-color: #1D3562;
    border-color: #4F7298 #113051 #113051 #4F7298;
    color: #f2f2f2;
    padding: 5px 8px 5px 8px;
    font-size: 14px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    cursor: pointer;
}

#login_forum_submit input:hover {
    color: #ffffff;
    background-color: #37517F;
}

#postbox_header{
    background-color: #1D3562;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    margin: 0;
    padding: 0;
}

#postbox_header h1{
    margin: 0;
    padding: 4px 0 4px 10px;
    font-size: 18px;
    color: #f2f2f2;
    font-weight: normal;
}

#postbox_editor{
    background-color: #EEF3F8;
    border: 1px #D5DDE5 solid;
    padding: 4px 0 4px 0;
}

#postbox_controls{
    background-color: #D5DDE5;
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
}

#postbox_submit{
    background-color: #1D3562;
    border-color: #4F7298 #113051 #113051 #4F7298;
    border-width: 1px;
    color: #f2f2f2;
    padding: 5px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

#postbox_submit:hover{
    color: #ffffff;
    background-color: #37517F;
}

#postbox_preview{
	background-color: #EEF3F8;
	border-color: #FAFBFC #BFCBD8 #BFCBD8 #FAFBFC;
	border-width: 1px;
    padding: 5px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    color: #1D3562;
    cursor: pointer;
}

#postbox_preview:hover{
    background-color: #ffffff;
}

#footer p{
	text-align: center;
    font-size: 12px;
    color: #666666;
}